@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fasthand&family=Inconsolata&display=swap");

html,
body {
  min-height: 100%;
}

:root {
  --primary-color: #3b3936;
  --primary-color-rgb: 59, 57, 54;
  --secondary-color: #f2f2f2;
}

body {
  color: var(--primary-color);
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

a {
  text-underline-offset: 0.2rem;
  transition: all 200ms;
  color: var(--primary-color);
}

a:hover {
  text-underline-offset: 0.5rem;
}

.main-container {
  padding-top: 5%;
}

.main-container > section {
  flex: 1;
  margin-top: 10%;
}

.main-container section:nth-child(1) {
  margin-top: 0;
}

.main-section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-inline: 5%;
  row-gap: 40px;
}

.main-section .content-title {
  font-size: 3rem;
  animation: title-float 1s infinite alternate;
}

@keyframes title-float {
  from {
    translate: 1rem;
  }
  to {
    translate: 0px;
  }
}

.main-section img {
  width: 40%;
  height: auto;
  max-width: 300px;
  min-width: 150px;
  box-shadow: 10px 10px 30px rgba(var(--primary-color-rgb), 0.2);
  transform: skewY(10deg);
  border-radius: 20px;
}

.description-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-text {
  width: 40%;
  line-height: 1.5;
}

@media (width <= 600px) {
  .description-text {
    width: 80%;
  }
}
@media (width <= 1000px) {
  .description-text {
    width: 70%;
  }
}
@media (width <= 1200px) {
  .description-text {
    width: 60%;
  }
}
